@model Product
<style>
    textbottomright {
        text-align: right;
    }
</style>

<div class="col-md-4">
    <div class="card mb-4 product-wap rounded-0">
        <form method="post" asp-action="AddToCart"
              asp-controller="Cart" id="@Model.ProductID">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <div class="card rounded-0">
                <img class="card-img rounded-0 img-fluid" src="@Model.Img">
                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled">
                        <li><button class="btn btn-success text-white mt-2" type="submit"><i class="fas fa-cart-plus"></i></button></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <a href="shop-single.html" class="h2 text-decoration-none">@Model.Brand<br></a>
                <a href="shop-single.html" class="h3 text-decoration-none">@Model.Title</a>
                <p class="textbottomright mb-0">@Model.Price.ToString("0 ₴")</p>
            </div>
        </form>
    </div>
</div>
